@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.perfect-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}